
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfo.cs
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfo.cs
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfo.cs
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfoInputs.cache
BookService.Application/obj/rider.project.model.nuget.info
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.AssemblyInfo.cs
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.AssemblyInfoInputs.cache
BookService.Contracts/obj/rider.project.model.nuget.info
BookService.Domain/obj/Debug/net8.0/BookService.Domain.AssemblyInfo.cs
BookService.Domain/obj/Debug/net8.0/BookService.Domain.AssemblyInfoInputs.cache
BookService.Domain/obj/rider.project.model.nuget.info
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.AssemblyInfo.cs
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.AssemblyInfoInputs.cache
BookService.Infrastructure/obj/rider.project.model.nuget.info
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.AssemblyInfo.cs
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.AssemblyInfoInputs.cache
BookService.Presentation/obj/rider.project.model.nuget.info
BookService.Application/bin/Debug/net8.0/BookService.Application.dll
BookService.Application/bin/Debug/net8.0/BookService.Application.pdb
BookService.Application/bin/Debug/net8.0/BookService.Contracts.dll
BookService.Application/bin/Debug/net8.0/BookService.Contracts.pdb
BookService.Application/bin/Debug/net8.0/BookService.Domain.dll
BookService.Application/bin/Debug/net8.0/BookService.Domain.pdb
BookService.Application/bin/Debug/net8.0/BookService.Infrastructure.dll
BookService.Application/bin/Debug/net8.0/BookService.Infrastructure.pdb
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfo.cs
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfoInputs.cache
BookService.Application/obj/Debug/net8.0/BookService.Application.csproj.AssemblyReference.cache
BookService.Application/obj/Debug/net8.0/BookService.Application.csproj.CoreCompileInputs.cache
BookService.Application/obj/Debug/net8.0/BookService.Application.dll
BookService.Application/obj/Debug/net8.0/BookService.Application.pdb
BookService.Application/obj/Debug/net8.0/BookService.Application.sourcelink.json
BookService.Application/obj/Debug/net8.0/ref/BookService.Application.dll
BookService.Application/obj/Debug/net8.0/refint/BookService.Application.dll
BookService.Contracts/bin/Debug/net8.0/BookService.Contracts.dll
BookService.Contracts/bin/Debug/net8.0/BookService.Contracts.pdb
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.AssemblyInfo.cs
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.AssemblyInfoInputs.cache
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.csproj.CoreCompileInputs.cache
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.dll
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.pdb
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.sourcelink.json
BookService.Contracts/obj/Debug/net8.0/ref/BookService.Contracts.dll
BookService.Contracts/obj/Debug/net8.0/refint/BookService.Contracts.dll
BookService.Domain/bin/Debug/net8.0/BookService.Domain.dll
BookService.Domain/bin/Debug/net8.0/BookService.Domain.pdb
BookService.Domain/obj/Debug/net8.0/BookService.Domain.AssemblyInfo.cs
BookService.Domain/obj/Debug/net8.0/BookService.Domain.AssemblyInfoInputs.cache
BookService.Domain/obj/Debug/net8.0/BookService.Domain.dll
BookService.Domain/obj/Debug/net8.0/BookService.Domain.pdb
BookService.Domain/obj/Debug/net8.0/BookService.Domain.sourcelink.json
BookService.Domain/obj/Debug/net8.0/ref/BookService.Domain.dll
BookService.Domain/obj/Debug/net8.0/refint/BookService.Domain.dll
BookService.Infrastructure/bin/Debug/net8.0/BookService.Domain.dll
BookService.Infrastructure/bin/Debug/net8.0/BookService.Domain.pdb
BookService.Infrastructure/bin/Debug/net8.0/BookService.Infrastructure.dll
BookService.Infrastructure/bin/Debug/net8.0/BookService.Infrastructure.pdb
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.AssemblyInfo.cs
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.AssemblyInfoInputs.cache
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.csproj.AssemblyReference.cache
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.dll
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.pdb
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.sourcelink.json
BookService.Infrastructure/obj/Debug/net8.0/ref/BookService.Infrastructure.dll
BookService.Infrastructure/obj/Debug/net8.0/refint/BookService.Infrastructure.dll
BookService.Presentation/bin/Debug/net8.0/BookService.Application.dll
BookService.Presentation/bin/Debug/net8.0/BookService.Application.pdb
BookService.Presentation/bin/Debug/net8.0/BookService.Contracts.dll
BookService.Presentation/bin/Debug/net8.0/BookService.Contracts.pdb
BookService.Presentation/bin/Debug/net8.0/BookService.Domain.dll
BookService.Presentation/bin/Debug/net8.0/BookService.Domain.pdb
BookService.Presentation/bin/Debug/net8.0/BookService.Infrastructure.dll
BookService.Presentation/bin/Debug/net8.0/BookService.Infrastructure.pdb
BookService.Presentation/bin/Debug/net8.0/BookService.Presentation.dll
BookService.Presentation/bin/Debug/net8.0/BookService.Presentation.exe
BookService.Presentation/bin/Debug/net8.0/BookService.Presentation.pdb
BookService.Presentation/obj/Debug/net8.0/apphost.exe
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.AssemblyInfo.cs
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.AssemblyInfoInputs.cache
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.csproj.AssemblyReference.cache
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.dll
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.pdb
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.sourcelink.json
BookService.Presentation/obj/Debug/net8.0/ref/BookService.Presentation.dll
BookService.Presentation/obj/Debug/net8.0/refint/BookService.Presentation.dll
