
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfo.cs
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfo.cs
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfo.cs
BookService.Application/obj/Debug/net8.0/BookService.Application.AssemblyInfoInputs.cache
BookService.Application/obj/rider.project.model.nuget.info
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.AssemblyInfo.cs
BookService.Contracts/obj/Debug/net8.0/BookService.Contracts.AssemblyInfoInputs.cache
BookService.Contracts/obj/rider.project.model.nuget.info
BookService.Domain/obj/Debug/net8.0/BookService.Domain.AssemblyInfo.cs
BookService.Domain/obj/Debug/net8.0/BookService.Domain.AssemblyInfoInputs.cache
BookService.Domain/obj/rider.project.model.nuget.info
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.AssemblyInfo.cs
BookService.Infrastructure/obj/Debug/net8.0/BookService.Infrastructure.AssemblyInfoInputs.cache
BookService.Infrastructure/obj/rider.project.model.nuget.info
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.AssemblyInfo.cs
BookService.Presentation/obj/Debug/net8.0/BookService.Presentation.AssemblyInfoInputs.cache
BookService.Presentation/obj/rider.project.model.nuget.info
